body{
text-align: center;
font-family: Arial, sans-serif;
font-size: 20px;
margin: 20px;
background-color: #373737;
color: #acac01;
}

button{
background-color:#acac01 ;
color: black;
padding: 20px;
border-radius: 5px;
}